/* Web-115 Class Work Styles */

#overlays {
    position: fixed;
    top: -50px;
    bottom: -50px;
    left: -50px;
    right: -50px;
    display: none;
    background-color: #333;
    opacity: .75;
}

.card {
    width: 70%;
    margin-top: 50rem;
}

#contentDiv{
    padding-bottom: 5rem;
}

.fixed-bottom {
    margin-bottom: 0rem;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

body {
    background-color: pink;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    body {
        background-color: #F00;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        background-color: #0F0;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        background-color: #00F;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        background-color: #333;
    }
}