/* Web-115 Class Work Styles */

#overlays {
    position: fixed;
    top: -50px;
    bottom: -50px;
    left: -50px;
    right: -50px;
    display: none;
    background-color: #333;
    opacity: 40%;
}

.card {
    width: 70%;
}

.fixed-bottom {
    margin-top: 2rem;
    margin-bottom: 0rem;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}